/* Dark Mode */
:root {
    /* Primary Colors */
    --primary-color: #0d6efd; /* Dark Blue */
    --secondary-color: #6c757d; /* Gray */
  
    /* Background Colors */
    --background-color: #212529; /* Dark Gray */
    --primary-bg-color: #343a40; /* Darker Gray */
    --secondary-bg-color: #495057; /* Darker Gray */
  
    /* Text Colors */
    --text-color: #ffffff; /* White */
    --text-light: #adb5bd; /* Light Gray */
    --text-muted: #6c757d; /* Muted Gray */
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
   
    display: flex;
}

button {
    cursor: pointer;
    display: inline-block;
    padding: 8px 16px;
    border-radius: 4px;
    font-size: 14px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border: none;
    
}
.primary-btn {
    background-color: #007bff;
    color: #ffffff; /* Text color */
}
.primary-btn:hover {
    background-color: #0056b3; /* Darken primary color on hover */
    color: #ffffff; /* Text color on hover */
}
.secondary-btn {
    background-color: #6c757d;
    color: #ffffff
}
.secondary-btn:hover {
    background-color: #545b62; /* Darken secondary color on hover */
    border-color: #545b62; /* Darken border color on hover */
    color: #ffffff; 
}
.success-btn {
    background-color: #28a745;
    color: #ffffff;
}
.success-btn:hover {
    background-color: #218838; 
    border-color: #218838; 
    color: #ffffff; 
}

a {
    color: #007bff;
    padding-bottom: 18px;
    text-decoration: none;
   
}
a:hover {
    color: #0056b3
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

ul li {
    padding: 5px 0;
}

nav {
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    padding: 20px 40px;
    background-color:var(--background-color) ;
}

nav a {
    font-size: 1.3rem;
    color: var(--text-color)
}
h1, h2, h3, h4 {
    padding-bottom: 10px;
}
#app {
    padding: 20px
}