/* Dark Mode */
:root {
    /* Primary Colors */
    --primary-color: #0d6efd; /* Dark Blue */
    --secondary-color: #6c757d; /* Gray */
  
    /* Background Colors */
    --background-color: #212529; /* Dark Gray */
    --primary-bg-color: #343a40; /* Darker Gray */
    --secondary-bg-color: #495057; /* Darker Gray */
  
    /* Text Colors */
    --text-color: #ffffff; /* White */
    --text-light: #adb5bd; /* Light Gray */
    --text-muted: #6c757d; /* Muted Gray */
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
   background-color: var(--background-color);
   display: flex;
   justify-content: center;
   gap: 20px;
   
   
}

button {
    cursor: pointer;
    display: inline-block;
    padding: 8px 16px;
    border-radius: 4px;
    font-size: 14px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border: none;
    
}
.primary-btn {
    background-color: #007bff;
    color: #ffffff; /* Text color */
}
.primary-btn:hover {
    background-color: #0056b3; /* Darken primary color on hover */
    color: #ffffff; /* Text color on hover */
}
.secondary-btn {
    background-color: #6c757d;
    color: #ffffff
}
.secondary-btn:hover {
    background-color: #545b62; /* Darken secondary color on hover */
    border-color: #545b62; /* Darken border color on hover */
    color: #ffffff; 
}
.success-btn {
    background-color: #28a745;
    color: #ffffff;
}
.success-btn:hover {
    background-color: #218838; 
    border-color: #218838; 
    color: #ffffff; 
}

h1, h2, h3, h4 {
    color: var(--text-color)
}

#board {
    padding-top: 10px;
    position: relative;
}

.row {
    display: flex;
    
}

.cell {
    width: 60px;
    height: 60px;
    border: 1px solid gray;
    margin: 1px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background-color: var(--primary-bg-color);
    color: var(--text-color)
}
.cell:hover{
    background-color: var(--primary-color);
}
.winning {
    background-color: var(--primary-color);
}

.sidebar {
    padding: 10px;
}